* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.addGiftForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 560px;
  /* padding: 50px; */
  /* padding-bottom: 100px; */
  min-height: 80vh;
  justify-content: space-around;
}

.giftAdded {
  display: inline-block;
  margin-top: 30px;
  padding: 1vh;
  font-weight: bold;
  color: #b06d78;
  font-size: 1.3rem;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  /* background-color: #BEE3D9; */
  border: solid 1px #b06d78;
  min-height: 80vh;
  padding: 1vh;
  padding-bottom: 2vh;
  box-shadow: 3px 7px 35px -4px rgba(0, 0, 0, 0.45);
  border-radius: 2vh;
  overflow: hidden;
  margin-top: 1vw;
}

#outlined-multiline-static {
  padding-bottom: 5vh !important;
}

/* @media (min-width: 450px) {
    .inputBox {
    width: 80% !important;
    }
}
@media (min-width: 960px) {
    .inputBox {
    width: 60% !important;
    }
}
@media (min-width: 1280px) {
    .inputBox {
    width: 50% !important;
    }
} */
